@charset"utf-8";
*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
	font-family: '宋体';
}
.wrap{
	width: 750px;
	margin:0 auto;
}
.top{
	overflow: hidden;
	width:750px;
	height:88px;
	background:#003345;
	margin:0 auto;
}
.top .iconfont{
	float: left;
	line-height: 88px;
	margin-left:30px;
}
.top .biaoti{
	float: left;
	font-size:34px;
	color:#fff;
	line-height: 88px;
	margin-left:140px;
}
.content{
	width: 100%;
	height: 1206px;
	background: url(../images/05bg.jpg);
	overflow: hidden;
}
form{
	margin-top: 151px;
}
form input{
	width: 552px;
	height: 76px;
	background: rgba(255,255,255,.1);
	border:1px solid #28e1f1;
	border-radius: 5px;
	color:#24727e;
	font-size: 28px;
	margin:57px  98px 57px;
	padding-left: 30px;
}
input{
	width: 552px;
	height: 76px;
	background:#28e1f1;
	border-radius: 5px;
	border:none;
	margin:150px  98px;
	font-size: 32px;
	color:#003649;
}